body {
  margin: 10px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#todays-challenge {
  color: #78c0d4;
  font-weight: bold;
  font-size: 52px;
  max-width: 75rem;
  margin: auto;
}

h1 {
  font-size: 1.7rem;
  margin-top: 4rem;
  color: #7e7e7e;
}

p:has(a) {
  margin-top: 4rem;
}
