body {
  background-color: #262424;
  text-align: center;
  color: #6c7679;
  min-height: 95vh;
  display: flex;
  margin: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
}

.title {
  color: #78c0d4;
}

p {
  font-family: "Fira Sans", sans-serif;
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: #ff60a5;
}

a:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  text-align: start;
  padding: 0.5rem;
}

.list-items {
  margin: 5rem 0;
}

.list-items p {
  color: #eee;
}
